// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #3f51b5;
$primary-light: #757de8;
$secondary: #003f8f;
$secondary-light: #2196f3;
// $secondary: #4c6b8b;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f5f5f5;
$dark: #131722;
$dark-light: #2a2e39;
$grey: #494d58;
$dark-green: #104a31;
$light-green: #46a681;
$dark-red: #800000;
$light-red: #ff0000;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  primary-light: $primary-light,
  secondary: $secondary,
  secondary-light: $secondary-light,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  dark-light: $dark-light,
  grey: $grey,

  dark-red: $dark-red,
  light-red: $light-red,
  dark-green: $dark-green,
  light-green: $light-green,
);

/* Add this to your CSS file */
.nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: $primary;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}
.selected-link {
  position: relative;
  color: $primary-light; /* Text color for the selected link */
}

.selected-link::after {
  content: "";
  position: absolute;
  width: 100%; /* Full width */
  height: 2px; /* Height of the line indicator */
  background-color: $primary-light; /* Color of the line indicator */
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.selected-link:hover::after {
  width: 100%; /* Keep the line indicator at full width on hover */
  left: 0;
}

.dropdown-toggle::after {
  display: none !important;
}

/* styles.css */

/* For Webkit (Chrome, Safari, etc.) */
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

.cursor-pointer {
  cursor: pointer !important;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
